<!DOCTYPE html>
<html>
  <head>
    <title>Bloggers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class='bg-stone-200'>
    <%= render partial: 'navbar/nav' %>
    <div class="mt-20 md:mt-16 max-w-screen-xl mx-auto px-4 py-4">
      <%= yield %>
    </div>
  </body>
</html>
